<div style="
  font-family: Ubuntu, Helvetica, Arial,
    sans-serif;
  font-size: 11px;
  line-height: 1.5;
  text-align: left;
  color: #000000;
">
  <p style="text-align: center;">
    <span style="font-size: 24px;">{{nombreForm}}, muchas gracias por cotizar con
      nosotros
      en el proyecto {{nombreProyecto}}</span>
  </p>
  <p style="text-align: center;">&#xA0;</p>
  <p style="text-align: center;">
    <span style="font-size: 14px;">Pronto nos contactaremos con
      usted, para darle respuesta a su solicitud.</span>
  </p>
</div>
